<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./web/core/tests/bootstrap.php"
         verbose="true"
        >
    <testsuites>
        <testsuite name="journal-cms-tests">
            <directory>./src/modules</directory>
        </testsuite>
    </testsuites>
    <!-- Filter for coverage reports. -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/modules</directory>
            <directory>./src/modules</directory>
            <exclude>
                <!-- By definition test classes have no tests. -->
                <directory suffix="Test.php">./</directory>
                <directory suffix="TestBase.php">./</directory>
                <!-- Exclude throwaway code for now -->
                <directory>./src/modules/jcms_migrate</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./build</directory>
            <directory>./config</directory>
            <directory>./features</directory>
            <directory>./scripts</directory>
            <directory>./sync</directory>
            <directory>./vendor</directory>
            <directory>./web</directory>
        </blacklist>
    </filter>
</phpunit>
